<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th colspan="3"></th>
  </tr>
  <% @users.each do |users| %>
    <tr>
      <td><%= User.where(id: users.id).last.username %></td>
      <td><%= link_to 'Show', users %></td>
      <td><%= link_to 'Edit', edit_user_path(users) %></td>
      <td><%= link_to 'Destroy', users, method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to "New user", new_user_path %>

<br>

<%= link_to "Book Index", books_path %>
<br>
<%= link_to "User Index", users_path %>
